.all_form {
    width:300px;
    height:300px;
    margin:0 auto;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.SpinCenter {
  text-align: center;
  float: center;
}

.div-inline
{
   display:inline
  } 